<section class="hero container" id="hero">
  <div class="hero-wrapper">
    <div class="image-wrapper">
      <img
        src="./img/Tetiana-Bachariewa-mob.png"
        alt="Tetiana"
        class="photo-mob"
      />
      <img
        src="./img/Tetiana-Bachariewa.png"
        alt="Tetiana"
        class="photo-desktop"
      />
      <div class="soft-skill soft-skill-one">
        <p class="soft-skill-text" data-lang-key="adaptability">adaptability</p>
      </div>
      <div class="soft-skill soft-skill-two">
        <p class="soft-skill-text" data-lang-key="detail">
          attention to detail
        </p>
      </div>
      <div class="soft-skill soft-skill-three">
        <p class="soft-skill-text" data-lang-key="fast-learning">
          fast learning
        </p>
      </div>
      <div class="soft-skill soft-skill-four">
        <p class="soft-skill-text" data-lang-key="proactiveness">
          proactiveness
        </p>
      </div>
      <div class="soft-skill soft-skill-five">
        <p class="soft-skill-text" data-lang-key="teamwork">teamwork</p>
      </div>
      <div class="soft-skill soft-skill-six">
        <p class="soft-skill-text" data-lang-key="empathy">empathy</p>
      </div>
      <div class="soft-skill soft-skill-seven">
        <p class="soft-skill-text" data-lang-key="flexibility">
          flexibility in communication
        </p>
      </div>
    </div>
    <div class="hero-text-wrapper">
      <h2 class="page-title">Tetiana Bachariewa</h2>
      <p class="profession-title">Front End Developer</p>
    </div>
    <div class="desktop-wrapper">
      <div class="tilt-wrapper">
        <div
          class="tilt"
          data-tilt
          data-tilt-scale="1.1"
          data-tilt-startX="20"
          data-tilt-startY="-20"
          data-tilt-reset-to-start="true"
        >
          <div class="inner-element">
            <h3>Tetiana Bachariewa</h3>
            <p>Front End Developer</p>
          </div>
        </div>
        <p
          class="profession-description-desktop"
          data-lang-key="prof-descr-deskt"
        >
          As a beginner in front-end development, I bring a fresh perspective
          and a strong eagerness to learn. I have a solid understanding of core
          web technologies, and my passion for building intuitive, user-friendly
          interfaces drives me to continuously improve.
        </p>
      </div>
    </div>
    <p class="profession-description" data-lang-key="prof-descr-mob">
      As a beginner in front-end development, I bring a fresh perspective and a
      strong eagerness to learn. I have a solid understanding of core web
      technologies, and my passion for building intuitive, user-friendly
      interfaces drives me to continuously improve.
    </p>
  </div>
  <div class="hero-btn-wrapper">
    <a href="#projects" class="hero-projects-btn" data-lang-key="hero-projects"
      >Projects</a
    >
    <a href="#contact" class="hero-contact-btn" data-lang-key="hero-contact"
      >Contact</a
    >
  </div>
</section>
